*{
    box-sizing: border-box;
    padding: 4px;
}
h1{
    border: 1px solid red;
    text-align: center;
    background-color: #d18c1d;
    padding: 10px;
}
#para1{
    width: 600px;
    height: 400px;
    border: 2px dotted black;
    background-color: #d1d631;
    margin-left: 30%;
    font-size: x-large;
    
}
#horse{
    width: 600px;
    margin-left: 30%;
    border-radius: 50px;
}
.circle{
    background-color: red;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-left: 40%;
}
footer a{
    background-color: #a1a1a1;
    border-bottom: 3px dashed blue;
    font-weight: bold;
}